@media (max-width: 390px) {
  .followStep {
    font-size: 14px;
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
  }

  .step-number {
    height: 36px;
    width: 36px;
    top: -10px;
    left: -10px;
  }

  .step-number p {
    font-size: 22px;
  }

  select {
    width: 90px;
  }
}

@media (min-width: 390px) and (max-width: 760px) {
  .followStep {
    font-size: 15px;
    flex-direction: column;
  }

  h1 {
    font-size: 22px;
  }

  .step-number {
    height: 38px;
    width: 38px;
    top: -10px;
    left: -10px;
  }

  .step-number p {
    font-size: 24px;
  }

  select {
    width: 110px;
  }
}

@media (max-width: 760px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h6 {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #ingredients-form {
    flex-direction: column;
    justify-content: center;
    margin: 4px 6px;
  }

  #ingredientsContainer {
    width: 100%;
  }

  #ingredient-quantity {
    width: 42px;
    height: 30px;
  }

  select {
    height: 30px;
  }

  .awesomplete {
    width: 100%;
  }

  #ingredient-name {
    width: 100%;
    height: 30px;
    margin: 0 6px 0 2px;
    font-size: 14px;
  }

  #addButton {
    width: 20px;
    font-size: 40px;
    margin: -2px 4px 0 6px;
    transition: all 0.1s ease;
  }

  #addButton:hover {
    transform: scale(1.05);
  }

  #mode-choice button {
    height: 40px;
    width: 120px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 14px;
    line-height: 32px;
  }

  #ingredient-people-number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #maxi-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ingredientSelect {
    padding: 0 2px;
    border-radius: 8px;
    width: 260px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 40px;
    width: 160px;
    font-size: 16px;
  }

  #description {
    font-size: 13px;
  }

  #convert-span,
  #eat-span {
    font-size: 16px;
  }

  .relief {
    margin: 22px 4px;
  }

  .delete-line-button {
    font-size: 20px;
    margin-left: 4px;
  }

  .new-line {
    font-size: 13px;
  }

  #validated-lines {
    padding: 4px 10px;
  }
}

@media (min-width: 760px) and (max-width: 900px) {
  h1 {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h6 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
  }

  #ingredient-quantity {
    width: 60px;
    height: 30px;
  }

  .awesomplete {
    width: 80%;
  }

  #ingredient-name {
    width: 100%;
    height: 30px;
    margin: 0 10px 0 6px;
  }

  select {
    height: 30px;
  }

  #ingredientsContainer {
    width: 100%;
  }

  #ingredients-form {
    flex-direction: column;
    justify-content: center;
    margin: 12px 12px;
  }

  #mode-choice button {
    height: 50px;
    width: 140px;
    font-size: 20px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  #ingredient-people-number {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 16px;
  }

  #ingredientSelect {
    padding: 0 4px;
    border-radius: 8px;
    width: 300px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 50px;
    width: 200px;
    font-size: 20px;
  }

  .followStep {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  #description {
    font-size: 14px;
  }

  #convert-span,
  #eat-span {
    font-size: 18px;
  }

  #followStepText {
    margin-top: 3px;
  }

  .step-number {
    height: 44px;
    width: 44px;
    top: -13px;
    left: -13px;
  }

  .step-number p {
    font-size: 32px;
  }

  .relief {
    margin: 22px 10px;
  }

  #addButton {
    width: 20px;
    font-size: 40px;
    margin: -2px 4px 0 4px;
    transition: all 0.1s ease;
  }

  #addButton:hover {
    transform: scale(1.05);
  }

  .delete-line-button {
    font-size: 20px;
    margin-left: 4px;
  }

  .new-line {
    font-size: 14px;
  }

  #validated-lines {
    padding: 4px 10px;
  }

  #maxi-line {
    display: flex;
    gap: 6px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 32px;
    flex-wrap: nowrap;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h6 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
  }

  #ingredient-quantity {
    width: 40px;
    height: 30px;
  }

  .awesomplete {
    width: 80%;
  }

  #ingredient-name {
    height: 30px;
    margin: 0 10px 0 6px;
    width: 100%;
  }

  select {
    height: 30px;
  }

  #ingredientsContainer {
    width: 80%;
  }

  #ingredients-form {
    justify-content: center;
    margin: 6px 12px;
  }

  #mode-choice button {
    height: 60px;
    width: 140px;
    font-size: 20px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  #ingredient-people-number {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 18px;
  }

  #ingredientSelect {
    padding: 0 4px;
    border-radius: 8px;
    width: 300px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 60px;
    width: 200px;
    font-size: 20px;
  }

  .followStep {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  #description {
    font-size: 15px;
  }

  #convert-span,
  #eat-span {
    font-size: 18px;
  }

  #followStepText {
    margin-top: 3px;
  }

  .step-number {
    height: 50px;
    width: 50px;
    top: -16px;
    left: -16px;
  }

  .step-number p {
    font-size: 36px;
  }

  .relief {
    margin: 22px 14px;
  }

  #addButton {
    width: 20px;
    font-size: 40px;
    margin: -2px 4px 0 6px;
    transition: all 0.1s ease;
  }

  #addButton:hover {
    transform: scale(1.05);
  }

  .delete-line-button {
    font-size: 20px;
    margin-left: 4px;
  }

  .new-line {
    font-size: 14px;
  }

  #validated-lines {
    align-self: center;
    width: 80%;
    padding: 4px 14px;
  }

  #maxi-line {
    display: flex;
    gap: 6px;
  }

  #second-title-quantities {
    padding-bottom: 8px;
  }
}

h1 {
  text-align: center;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin: 0 0 12px 0;
}

h2 {
  margin: 4px;
  color: var(--dark-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
}

h6 {
  margin: 4px;
  color: var(--dark-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

#second-title-choice-one,
#second-title-quantities-one,
#second-title-people-one,
#ingredient-second-title-people-one {
  font-weight: 800;
}
#mode-choice {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#ingredients-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ingredientsContainer {
  display: flex;
  flex-direction: column;
}

#ingredientLine {
  margin: 4px 0;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ingredient-quantity {
  margin: 0 2px;
  padding: 2px 2px;
  border-radius: 8px;
  text-align: center;
  color: var(--dark-text-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

#ingredient-name {
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 8px;
  color: var(--dark-text-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

#ingredient-quantity::placeholder {
  color: var(--form-content-color);
  font-family: inherit;
  font-size: 14px;
}

#ingredient-name::placeholder {
  color: var(--form-content-color);
  font-family: inherit;
  font-size: 14px;
}

#startPortions {
  width: 40px;
}

#endPortions,
#endQuantity {
  width: 40px;
}

#mode-choice button {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  align-self: center;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px var(--button-color);
}

#mode-choice button:hover {
  transform: scale(1.05);
}

#mode-choice button.selected {
  background-color: var(--selected-button-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--selected-button-color);
}

#people-number,
#ingredient-people-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--dark-text-color);
  margin: 12px;
}

#startPortions,
#endPortions,
#endQuantity {
  height: 26px;
  padding: 0 4px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--dark-text-color);
}

#person-validate-section,
#ingredient-validate-section {
  display: flex;
  justify-content: center;
}

#ingredientSelect {
  height: 26px;
  padding: 0 4px;
  border-radius: 8px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  font-weight: 600;
  text-align: center;
  color: var(--dark-text-color);
}

#ingredientSubmitButton {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: var(--validation-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--validation-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 4px;
  margin: 6px 0 10px 0;
}

#personSubmitButton {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: var(--validation-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--validation-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 4px;
  margin: 6px 0;
}

#personSubmitButton:hover,
#ingredientSubmitButton:hover {
  transform: scale(1.05);
}

#personSubmitButton:selected,
#ingredientSubmitButton:selected {
  transform: scale(1.05);
}

#recipeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error,
#error2 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--error-message);
}

/* Snippet to change the inputs' background color when autocompleted */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--dark-text-color);
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.relief {
  padding: 8px 0;
  border-radius: 10px;
  border: solid 4px var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

#description {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--dark-text-color);
  text-align: center;
}
#descriptionSpan {
  margin-top: 2px;
}

.followStep {
  margin-top: 4px;
  text-align: center;
  font-weight: 800;
  display: flex;
}

#convert-span {
  color: var(--selected-button-color);
}

#eat-span {
  color: var(--error-message);
}

#followStepText {
  color: var(--selected-button-color);
}

.step-number {
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  position: absolute;
}

.step-number p {
  font-family: "Titan One", sans-serif;
  text-shadow: 1px 1px 0px var(--primary-color),
    -1px -1px 0px var(--primary-color), 1px -1px 0px var(--primary-color),
    -1px 1px 0px var(--primary-color);
}

select {
  border: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 4px;
  padding: 2px 2px;
  border-radius: 8px;
  color: var(--dark-text-color);
  border: none !important;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  display: block;
}

option {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#addButton {
  color: var(--primary-color);
  font-weight: 600;
}

#validated-lines {
  margin: 2px 6px;
  border-radius: 10px;
  color: var(--dark-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 26px;
}

.new-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.new-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.delete-line-button {
  color: var(--error-message);
  font-weight: 800;
}

.awesomplete {
  font-size: 14px;
  color: var(--dark-text-color);
}

.awesomplete ul {
  border: solid 1px var(--secondary-color);
}

.awesomplete > ul > li {
  font-size: 13px;
}

.awesomplete > ul > li:hover {
  background: var(--background-color);
  color: var(--dark-text-color);
}

.awesomplete > ul > li[aria-selected="true"] {
  background: var(--background-color);
  color: var(--dark-text-color);
}

.awesomplete mark {
  background: var(--background-color);
  font-weight: bold;
  border-radius: 4px;
}

.awesomplete > ul > li:hover mark {
  background: var(--background-color);
  color: var(--dark-text-color);
}

.awesomplete > ul > li[aria-selected="true"] mark {
  background: var(--background-color);
  color: var(--dark-text-color);
}
