@media (max-width: 390px) {
  .ingredient-name {
    width: 60%;
  }
}

@media (min-width: 390px) and (max-width: 760px) {
  .ingredient-name {
    width: 65%;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #ingredients-form {
    flex-direction: column;
    justify-content: center;
    margin: 8px 12px;
  }

  #ingredientsContainer {
    width: 100%;
  }

  .ingredient-quantity {
    width: 60px;
    height: 30px;
  }

  .ingredient-name {
    height: 30px;
    margin: 0 6px 0 2px;
    font-size: 15px;
  }

  #addIngredientButton {
    height: 40px;
    width: 200px;
  }

  #mode-choice button {
    height: 40px;
    width: 120px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 14px;
    line-height: 30px;
  }

  #ingredient-people-number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #maxi-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ingredientSelect {
    padding: 0 2px;
    border-radius: 8px;
    width: 260px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 40px;
    width: 160px;
    font-size: 16px;
  }
}

@media (min-width: 760px) and (max-width: 900px) {
  h1 {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .ingredient-quantity {
    width: 60px;
    height: 30px;
  }

  .ingredient-name {
    width: 82%;
    height: 30px;
    margin: 0 10px 0 6px;
  }

  #ingredientsContainer {
    width: 100%;
  }

  #ingredients-form {
    flex-direction: column;
    justify-content: center;
    margin: 12px 12px;
  }

  #addIngredientButton {
    height: 50px;
    width: 240px;
    font-size: 20px;
  }

  #mode-choice button {
    height: 50px;
    width: 140px;
    font-size: 20px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  #ingredient-people-number {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 16px;
  }

  #ingredientSelect {
    padding: 0 4px;
    border-radius: 8px;
    width: 300px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 50px;
    width: 200px;
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 28px;
    flex-wrap: nowrap;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .ingredient-quantity {
    width: 60px;
    height: 30px;
  }

  .ingredient-name {
    width: 80%;
    height: 30px;
    margin: 0 10px 0 6px;
  }

  #ingredientsContainer {
    width: 70%;
  }

  #ingredients-form {
    justify-content: center;
    margin: 16px 12px;
  }

  #addIngredientButton {
    height: 60px;
    width: 220px;
    margin-left: 12px;
    font-size: 20px;
  }

  #mode-choice button {
    height: 60px;
    width: 140px;
    font-size: 20px;
  }

  #people-number,
  #ingredient-people-number {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  #ingredient-people-number {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 18px;
  }

  #ingredientSelect {
    padding: 0 4px;
    border-radius: 8px;
    width: 300px;
  }

  #personSubmitButton,
  #ingredientSubmitButton {
    height: 60px;
    width: 200px;
    font-size: 20px;
  }
}

h1 {
  text-align: center;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin: 0 0 16px 0;
}

h2 {
  margin: 4px;
  color: var(--dark-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
}

#second-title-choice-one,
#second-title-quantities-one,
#second-title-people-one,
#ingredient-second-title-people-one {
  font-weight: 800;
}
#mode-choice {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#ingredients-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#ingredientsContainer {
  display: flex;
  flex-direction: column;
}

.ingredientLine {
  margin: 4px 0;
  height: 30px;
}

.ingredient-quantity {
  margin: 0 4px;
  padding: 2px;
  border-radius: 8px;
  text-align: center;
  color: var(--dark-text-color);
}

.ingredient-name {
  padding: 2px;
  margin: 0 10px 0 6px;
  border-radius: 8px;
  color: var(--dark-text-color);
}
.ingredient-quantity::placeholder,
.ingredient-name::placeholder {
  color: var(--form-content-color);
  font-family: inherit;
}

#startPortions {
  width: 40px;
}

#endPortions,
#endQuantity {
  width: 50px;
}

#addIngredientButton,
#mode-choice button {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  align-self: center;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

#addIngredientButton {
  background-color: var(--button-color);
  box-shadow: 0 4px 8px var(--button-color);
}

#mode-choice button {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px var(--button-color);
}

#addIngredientButton:hover,
#mode-choice button:hover {
  transform: scale(1.05);
}

#mode-choice button.selected {
  background-color: var(--selected-button-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--selected-button-color);
}
#people-number {
  margin: 12px;
}

#people-number,
#ingredient-people-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--dark-text-color);
}

#startPortions,
#endPortions,
#endQuantity {
  height: 26px;
  padding: 0 4px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--dark-text-color);
}

#person-validate-section,
#ingredient-validate-section {
  display: flex;
  justify-content: center;
}

#ingredientSelect {
  height: 26px;
  padding: 0 4px;
  border-radius: 8px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  font-weight: 600;
  text-align: center;
  color: var(--dark-text-color);
}

#ingredientSubmitButton {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: var(--validation-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--validation-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 4px;
  margin: 6px 0;
}

#personSubmitButton {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: var(--validation-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--validation-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 4px;
  margin: 6px 0;
}

#personSubmitButton:hover,
#ingredientSubmitButton:hover {
  transform: scale(1.05);
}

#personSubmitButton:selected,
#ingredientSubmitButton:selected {
  transform: scale(1.05);
}

#recipeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--error-message);
}

/* Snippet to change the inputs' background color when autocompleted */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--dark-text-color);
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
